/* for resizing the LaTeX */
.math {
  font-size: 80% !important;
}

/* so the sidebar includes the actionButtons */
.well {
  padding-bottom: 6em;
}

/* so buttons display as normal (not linked) text */
a.button, a:hover {
  color: #333;
  text-decoration: none;
}

/* so "back to top" link looks nice */
.backToTop {
  font-size: 80%;
  display: block;
  width: 100%;
  text-align: right;
}

/* so overflow can be seen with a scroll bar, rather than
   spewed all over the screen
.tab-content {
  overflow: auto;
} */

/* so data display overflow has a scroll bar */
#datasetSimData, #datasetUserData {
  overflow: scroll;
}

/* so the ggvis objects can be next to each other */
.ggvis-output-container {
  display: inline-block;
}

/* error message for matting when the user doesn't select
   valid plotting options */
#errorMsg-forestPlot-grp, #errorMsg-forestPlot-indiv,
#errorMsg-subgroupProfiles,
#errorMsg-covarProfiles, #errorMsg-vizByCovar,
#errorMsg-vizBySubgroup {
  color: #f00;
  font-weight: bold;
  font-size: 130%;
}

/* formatting the checkboxes in the 'viz by subgroup' tab */
#covarGroup {
  width: 100%;
}

/* so the covariates are side-by-side */
#covarGroup .checkbox {
  display: inline-block;
  /* top right bottom left */
  padding: 0.5em 1em 0.5em 0.5em;
}

/* formatting the box containing the name of the
   user-provided file */
input[type=text].form-control[readonly] {
  padding-left: 10px;
  border-radius: 4px;
  box-sizing: border-box;
}

#covarNamesForUser {
  color: #9966ff;
  font-family: monospace;
}

#covarNamesForUser {
  color: #9966ff;
  font-family: monospace;
  font-size: 120%;
}

span.covarBox {
  display: inline-block;
  padding: 0.5em 1em;
}

#subgroupProfiles {
  height: 500px;
}